* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    perspective: 100%;
    overflow-x: hidden;
}

#nav {
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 140px;
    gap: 30px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 73px;

}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.666);
    padding-bottom: 0;
    margin-bottom: 0;
}

#page1 #arrow {
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: 2px solid #95c11e;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#page1 #arrow i {
    font-size: 50px;
    font-weight: 100;
}

#page1 #arrow:hover {
    scale: 0.4;
    background-color: #95c11e;
}


#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}

#cursor-blur {
    background-color: #9abb3d41;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
    transition: 1.0s;


}

#cursor {
    background-color: #a1d316;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: 'EAT.DRINK.PLAY.';
    font-size: 140px;
    font-weight: 900;
    position: absolute;
    top: -6px;
    left: -6px;
    color: black;
    -webkit-text-stroke: 2px green;
    z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 24px;
    font-weight: 400;
    width: 40%;

}

#page2 {
    min-height: 280vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller h4 {
    display: inline-block;
    font-size: 200px;
    color: transparent;
    transition: all linear 0.4s;
    font-weight: 900;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px rgb(181, 227, 74);
}

#scroller h4:hover {

    color: lawngreen;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#about {
    margin-top: 6.5vw;
    padding: 0 40px;
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

#about img {
    height: 210px;
    width: 210px;
    object-fit: cover;
    border-radius: 10px;
}

#title {
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 6px;
}

#desc {
    height: 50%;
    width: 60%;
    box-sizing: border-box;
    text-align: center;



}

#desc p {
    font-size: 20px;
    line-height: 32px;
}

#p2 {
    text-align: center;
    background-color: darkred;
}

#p1 {
    height: 60%;
    width: 20%;
    font-size: 1.5rem;
    background-color: darkred;
    overflow-wrap: break-word;



}

#card-container {
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 80px;
    z-index: 10;
    position: relative;

}

#card-container #card1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: 410px;
    border-radius: 5px;
    transition: all ease 0.10s;

}



#card1 .overlay {
    height: 600px;
    width: 100%;
    background-color: #a1d316;
    padding: 140px 40px;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
    opacity: 0;
    transition: all ease 0.20s;

}

#card1 .overlay:hover {
    opacity: 1;
    transition: all ease 0.6;
}

#card1 .overlay h5 {
    color: black;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-weight: 700;
}

#card1 .overlay p {
    margin-top: 3px;
    word-wrap: break-word;
    font-size: 1.0rem;
    font-style: oblique;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20px;
    height: 60px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;


}

#card1:hover {
    transform: rotate3d(-1, 1, 0, 18deg);
}

#card-container .c1 {
    background: url(home-lessons.jpg);


}

#card-container .c2 {
    background: url(hero-4.jpg);

}

.c3 {
    background: url(home-toptracer.jpg);

}

#card3 {
    background: greenyellow;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: none;
    min-height: 600px;
    width: 410px;
    border-radius: 5px;


}

#green-div img {
    height: 100%;
    width: 14%;
    object-fit: cover;

}

#s2 {
    margin-left: -30px;

}

#s1 {
    margin-right: 0px;
}

#green-div h5 {
    font-size: 2.0rem;
    width: 55%;
    text-align: center;
    line-height: 50px;
    font-family: fantasy;
    font-weight: 900;
    color: black;


}

#page3 {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

#page3>p {
    width: 55%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 45px;
}

#page3 img {
    position: absolute;
    height: 60px;
}

#page3 #colon1 {
    top: 25%;
    left: 15%;
}

#page3 #colon2 {
    bottom: 25%;
    right: 15%;
}

#green-div {
    margin-top: 80px;
    height: 30vh;
    background: linear-gradient(to left bottom, #9FCE20, #2FA733);
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.page4 {
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page4 h3 {
    display: inline-block;
    font-size: 99px;
    color: transparent;
    transition: all linear 0.4s;
    font-weight: 900;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px white;
    left: 8.5%;
    top: -8.2%;
}

.page4 h3:hover {
    -webkit-text-stroke: 2px greenyellow;

}

.page4 #d1 {
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;

}

#d1 #box1 {
    height: 120px;
    width: 400px;
    border-radius: 5px;
    position: relative;
    transition: ease-in 0.20s;
    overflow: hidden;


}

#box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: all ease 0.5s;
    scale: 1.1;

}


#box1 p:hover {
    color: white;
    background: transparent;
}

#box1 img:hover {
    scale: 1;
    transition: all ease 0.5s;


}

#box1 p {
    align-items: center;
    padding: 35px;
    font-size: 2.0rem;
    background-color: #9FCE20;
    color: black;
    text-align: center;
    font-weight: 800;
    height: 120px;
    width: 400px;
    z-index: 10;
    position: absolute;
    border-radius: 8px;
    transition: all ease 0.5s;

}

#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
}

#footer>img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img {
    height: 100px;
}

#f1,
#f2,
#f3,
#f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
}

#f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}

#f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}


*::selection {
    background-color: #fff;
    color: #a1d316;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}